/* Mobile first */
.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
    /* max-width: 80rem;
    margin: 0 auto; */
}


.precio {
    font-size: 4rem;
    margin: 0;
}
/* esto es a partir de los 600 toma del pequeño al m´s grande */
@media (min-width: 600px) {
    .oferta {
        max-width: 40rem;
        margin: 0 auto;
    }

    /* .precio {
        font-size: 2rem;
    } */
}

@media (min-width: 800px) {
    .oferta {

        max-width: 60rem;
    }

}